# More Pandas

You'll find below 3 big exercises to keep exploring pandas. The first one is very guided, with a Preprocessing part and an Analysis part. The 2 next ones are more open, with each time a dataset available and many ways to analyse it.

## World energy

This exercise uses 3 datasets to **explore the relationship between energy production, GDP and energy-related research**:

* `energy_indicators.xls`: list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013

* `gdp_world_bank.csv`: countries' GDP from 1960 to 2015 from World Bank

* `sjr_ranking.xlsx`: country ranking based on their research journal contributions in the Energy Engineering area.

### PART 1 - Preprocessing

#### Question 1

Load the energy data from the file `energy_indicators.xls`, which is a list of indicators of energy supply and renewable electricity production) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013. 

_Hints: Make sure to exclude the footer and header rows, with the arguments `header=16` and `skipfooter=38`._

In [1]:
import pandas as pd
import numpy as np

In [3]:
energy = pd.read_excel("energy_indicators.xls", header=16, skipfooter=38)
energy

     Unnamed: 0  ... Renewable Electricity Production
0           NaN  ...                                %
1           NaN  ...                          78.6693
2           NaN  ...                              100
3           NaN  ...                          0.55101
4           NaN  ...                         0.641026
..          ...  ...                              ...
223         NaN  ...                          45.3215
224         NaN  ...                                0
225         NaN  ...                                0
226         NaN  ...                          99.7147
227         NaN  ...                          52.5361

[228 rows x 6 columns]

#### Question 2

The first 2 columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

_Hint: to select the relevant rows and columns you can use `.iloc[]`._

In [ ]:
energy.rename(columns= pay. new pays)

In [4]:
energy = energy.iloc[1:, 2:]
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy

                       Country  ... % Renewable
1                  Afghanistan  ...     78.6693
2                      Albania  ...         100
3                      Algeria  ...     0.55101
4               American Samoa  ...    0.641026
5                      Andorra  ...     88.6957
..                         ...  ...         ...
223                   Viet Nam  ...     45.3215
224  Wallis and Futuna Islands  ...           0
225                      Yemen  ...           0
226                     Zambia  ...     99.7147
227                   Zimbabwe  ...     52.5361

[227 rows x 4 columns]

#### Question 3

Convert `Energy Supply` from petajoules to gigajoules (there are 1,000,000 gigajoules in a petajoule).

In [8]:
energy['Energy Supply'] = energy['Energy Supply'] * 10000000
energy

                       Country  ...  % Renewable
1                  Afghanistan  ...    78.669280
2                      Albania  ...   100.000000
3                      Algeria  ...     0.551010
4               American Samoa  ...     0.641026
5                      Andorra  ...    88.695650
..                         ...  ...          ...
223                   Viet Nam  ...    45.321520
224  Wallis and Futuna Islands  ...     0.000000
225                      Yemen  ...     0.000000
226                     Zambia  ...    99.714670
227                   Zimbabwe  ...    52.536120

[227 rows x 4 columns]

In [5]:
energy = energy.replace('...', np.nan)
energy

                       Country  ...  % Renewable
1                  Afghanistan  ...    78.669280
2                      Albania  ...   100.000000
3                      Algeria  ...     0.551010
4               American Samoa  ...     0.641026
5                      Andorra  ...    88.695650
..                         ...  ...          ...
223                   Viet Nam  ...    45.321520
224  Wallis and Futuna Islands  ...     0.000000
225                      Yemen  ...     0.000000
226                     Zambia  ...    99.714670
227                   Zimbabwe  ...    52.536120

[227 rows x 4 columns]

In [6]:
def correct(x: str):
    if x == '...': # '...' in x # x.startswith('...')
        x = np.nan
    return x

In [7]:
energy.applymap(correct)

                       Country  ...  % Renewable
1                  Afghanistan  ...    78.669280
2                      Albania  ...   100.000000
3                      Algeria  ...     0.551010
4               American Samoa  ...     0.641026
5                      Andorra  ...    88.695650
..                         ...  ...          ...
223                   Viet Nam  ...    45.321520
224  Wallis and Futuna Islands  ...     0.000000
225                      Yemen  ...     0.000000
226                     Zambia  ...    99.714670
227                   Zimbabwe  ...    52.536120

[227 rows x 4 columns]

#### Question 4

For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.nan` values.

#### Question 5

There are several countries with numbers and/or parenthesis in their name. Be sure to remove these, for example: 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`,

`'Switzerland17'` should be `'Switzerland'`.

_Hint: use `apply` and several string methods (such as `split`, `isnumeric`...)._

In [10]:
energy['Country'] = energy['Country'].apply(lambda x: x.split(' (')[0])
energy['Country'] = energy['Country'].apply(lambda x: ''.join([c for c in x if not c.isnumeric()]))
energy['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong Special Administrative Region',
       'China, Macao Special Administrative Region', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "CÃ´te d'Ivoire",
       'Croatia', 'Cuba', 'CuraÃ§ao', 'Cyprus', 'Czech Republic',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'RÃ©union', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

#### Question 6

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

_Hint: You can replace the incorrect countries using a dictionary._

In [11]:
dic = {"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"}

In [15]:
energy['country'] = replace(dic_country)

NameError: ignored

#### Question 7

Next, load the GDP data from the file `gdp_world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Also make sure to skip the header.

In [12]:
gdp = pd.read_csv('gdp_world_bank.csv', header=2).iloc[:, :-1]
gdp

     Country Name Country Code  ...          2019 2020
0           Aruba          ABW  ...           NaN  NaN
1     Afghanistan          AFG  ...  1.929110e+10  NaN
2          Angola          AGO  ...  8.881570e+10  NaN
3         Albania          ALB  ...  1.527918e+10  NaN
4         Andorra          AND  ...  3.154058e+09  NaN
..            ...          ...  ...           ...  ...
259        Kosovo          XKX  ...  7.926134e+09  NaN
260   Yemen, Rep.          YEM  ...  2.258108e+10  NaN
261  South Africa          ZAF  ...  3.514316e+11  NaN
262        Zambia          ZMB  ...  2.330977e+10  NaN
263      Zimbabwe          ZWE  ...  2.144076e+10  NaN

[264 rows x 65 columns]

#### Question 8

Rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

In [13]:
gdp['Country Name'] = gdp['Country Name'].replace(dic)
gdp['Country Name'].sort_values().unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Arab World', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Faroe Islands', 'Fiji', 'Finland',
       'Fragile and conflict affected situations', 'France',
       'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Dem. Peopleâ€™s Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Not classified',
       'OECD members', 'Oman', 'Other small states',
       'Pacific island small states', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Small states', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

#### Question 9

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `sjr_ranking.xlsx`, which ranks countries based on their journal contributions in the Energy Engineering area.

#### Question 10

Join the 3 datasets: GDP, Energy, and SJR into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by SJR 'Rank'. 

_Hint: The final DataFrame should have 20 coulmns and 15 rows, with as index the country names and as columns the following:_

```['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
'Citations per document', 'H index', 'Energy Supply',
'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
'2009', '2010', '2011', '2012', '2013', '2014', '2015']```

### PART 2 - Analysis

#### Question 1

The previous question joined three datasets then reduced it to just the top 15 entries. When you reduced it, how many entries did you lose?

*Hint: we want a function that returns a single number. In the function, compute the length of the **union of A, B, C** (i.e. an outer merge),  the length of the **intersection of A, B, C** (i.e. an inner merge), and substract them to get your result. See the diagram below.*

In [ ]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="30">Everything but this!</text>
</svg>

#### Question 2

For the following questions, we use the final dataframe created in Part 1.

What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*Hint: we want a Series with the 15 countries and their average GDP sorted in descending order.*

#### Question 3

By how much has the GDP changed over the 10-year span for the country with the 6th largest average GDP?

*Hint: we want a single number (absolute variation).*

#### Question 4

What is the mean `Energy Supply per Capita`?

*Hint: we want a single number.*

#### Question 5

What country has the maximum `% Renewable` and what is this percentage?

*Hint: we want a tuple with the name of the country and the percentage.*

#### Question 6

Create a new column that is the ratio of `Self-citations` to `Citations`. 
What is the maximum value for this new column, and what country has the highest ratio?

*Hint: we want a tuple with the name of the country and the ratio.*

#### Question 7

Create a column that estimates the population using `Energy Supply` and `Energy Supply per Capita`.
What is the third most populous country according to this estimate?

*Hint: we want a single string value.*

#### Question 8

Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method (Pearson's correlation).

*Hint: we want a single number.*

*(Optional: Use the function `plot_q8()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def plot_q8(df):
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = df.copy()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = (Top15['Citable documents'] *1000000) / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0001])

#### Question 9

Create a new column with a 1 if the country's `% Renewable` value is at or above the median for all countries in the top 15, and a 0 if it is below the median.

*Hint: we want a series named `HighRenew` containing zeros and ones, whose index is the country name sorted in ascending order of `% Renewable`.*

#### Question 10

Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*Hint: we want a DataFrame with continents as index: `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and with columns `['size', 'sum', 'mean', 'std']`.*

#### Question 11

Cut `% Renewable` into 5 bins. Group your top 15 table by Continent, as well as these new `% Renewable` bins. How many countries are in each of these groups?

*Hint: try to use the `pd.qcut` function to create 5 bins, and include the `labels=False` argument. As a final result for this question, we want a Series with a MultiIndex containing continents and the bins for `% Renewable`. Do not include groups with no countries.*

#### Question 12

Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*Hint: You can do this with formatted strings. In the end we want a Series whose index is the country name and whose values are the population estimate string.*

#### Optional plot

Use the function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional(df):
    import matplotlib as plt
    %matplotlib inline
    Top15 = df.copy()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

## Google Play

In this exercise, we work with the `google_play.csv` dataset. It contains scraped information about 62683 apps on the Google Play Store.

_**Why this dataset is interesting?**_

The Google Play Store is Google's app marketplace. Most people access the Google Play Store when they want to install new apps onto Android their phones.

Like any market, apps in the play store are subject to supply and demand... that is to say that certain kinds of apps get downloaded a lot while others don't. Certain kinds of apps get paid for while others don't. Some categories of apps have lots and lots of competition while others don't.

As an app developer or business owner, a dataset like this can help you spot opportunities.

_**Questions**_

You'll find below several open questions about the dataset. You can try to answer them all, or choose only some of them, or decide to explore in your own directions. This is an open exercise!

1. What categories of applications get a lot of downloads per day?
2. What categories of applications don't get many downloads per day?
3. In what app categories are there market leaders (one app that clearly is getting downloaded more than the others)?
4. How many downloads per day might you expect if you took the time to build an app?
5. What can the data tell you about monetization approaches?

## US Trade

In this exercise, we work with US importations and exportations data. The data is accessible at https://usatrade.census.gov/index.php - you just need to create an account, and you have access to a highly detailed, monumental sum of international trade.

In this exercise, you can either create your own dataset on the website, or use the dataset I created, `honolulu_trade.csv`. It contains the value of all goods imported into Hawai at 5 years interavals from 2005 to 2020, sorted out by country of origin and goods category.

*__Why this data is interesting__*

The US government keeps very detailed records on all goods being imported or exported from the United States.

Want to estimate the size of a market or see if it's growing or shrinking?

Want to find the best place in the world to manufacture a particular product?.. or get a sense of how much importers are paying for the goods they wholesale? This dataset can give you a lot of valuable and interesting insights into how the world economy works.

It's also super easy to access and it's government data. It's pretty darn clean!

_**Questions**_

You'll find below several open questions about the dataset. You can try to answer them all, or choose only some of them, or decide to explore in your own directions. This is an open exercise!

1. Where is the best place in the world to have a particular type of product manufactured?
2. What kinds of products are Americans buying?
3. Where are they importing goods from?
4. What do they sell and where do they sell to?
5. How much do products cost before they get marked up?

To get started, you can either read the csv and clean it yourself, or run this short preprocessing script below:

In [ ]:
import pandas as pd

# preprocessing: pivot table
hi = pd.read_csv('honolulu_trade.csv', header=3)
hi = hi.drop(columns=['Port', 'Unnamed: 5'])
hi.columns = ['year', 'country', 'commodity', 'value']
hi.value = hi.value.apply(lambda x: int(x.replace(',', ''))/1000) # value will be in thousands of $
hi = pd.pivot_table(hi, values='value', columns='year', index=['country', 'commodity'])
hi = hi.sort_values(by=['country', 'commodity'])
hi = hi.reset_index()
hi

year,country,commodity,2005,2010,2015,2020
0,Afghanistan,"32 Tanning & Dye Ext Etc; Dye, Paint, Putty Et...",NaN,NaN,NaN,8.932
1,Afghanistan,57 Carpets And Other Textile Floor Coverings,NaN,NaN,3.265,NaN
2,Afghanistan,"71 Nat Etc Pearls, Prec Etc Stones, Pr Met Etc...",NaN,96.006,NaN,NaN
3,Afghanistan,Total All Commodities,NaN,96.006,3.265,8.932
4,Albania,"62 Apparel Articles And Accessories, Not Knit ...",NaN,NaN,1.762,NaN
...,...,...,...,...,...,...
2506,World Total,Total All Commodities,6097823.375,6871715.134,7118113.028,7015257.971
2507,Yemen,"27 Mineral Fuel, Oil Etc.; Bitumin Subst; Mine...",52311.699,NaN,NaN,NaN
2508,Yemen,Total All Commodities,52311.699,NaN,NaN,NaN
2509,Zimbabwe,41 Raw Hides And Skins (no Furskins) And Leather,4.671,NaN,NaN,NaN
2510,Zimbabwe,Total All Commodities,4.671,NaN,NaN,NaN